<!--título-->
<div class="row">
    <div class="col-3">
        <a name="Educación"><h1>Educación</h1></a>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-secondary btn-sm">
            <a href="#" id="flechaup"><i class="fa-solid fa-arrow-up"></i></a>
        </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>
<!--educación-->
      <div class="container text-center">
        <div class="row">
          <div class="col-8">
            <div id="carouselExampleControlsNoTouching" class="carousel carousel-dark slide" data-bs-touch="false">
              <div class="carousel-inner">
                <h3>Certificados</h3>
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="/assets/imgs/cursobioveg.png" class="d-block w-30" alt="tallerbioveg">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/tallerorganica.png" class="d-block w-30" alt="tallerorganica">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/cursomicroscopio.png" class="d-block w-30" alt="cursomicroscopio">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/cursoprogram.png" class="d-block w-30" alt="cursoprogramacion">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/cursoinglés.png" class="d-block w-30" alt="cursoingles">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/cursoportugués.png" class="d-block w-30" alt="cursoportugués">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/olimpiadabio.png" class="d-block w-30" alt="olimpiadabio">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/jornada ihem.png" class="d-block w-30" alt="jornadaihem">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/secundario.png" class="d-block w-30" alt="secundario">
                </div>
                <div class="carousel-item"  data-bs-interval="10000">
                  <img src="/assets/imgs/congresiobio.png" class="d-block w-30" alt="congresiobio">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>
          <div class="col-4">
            <ul class="list-group">
              <h3>Estudios</h3>
              <li class="list-group-item">Terminé mis estudios secundarios en la Escuela del Magisterio de la UNCuyo en el año 2017.</li>
              <li class="list-group-item">Actualmente, estoy estudiando la Lic. en Ciencias Básicas con Orientación en Biología. A la cual ingresé en diciembre de 2018.</li>
              <li class="list-group-item">Realicé un curso de inglés en el Colegio de Lenguas Extranjeras de la UNCuyo; durante 5 años, desde 2012 a 2016.</li>
              <li class="list-group-item">Realicé un curso de inglés para programación durante el año 2022</li>
              <li class="list-group-item">Realicé un curso de programación básico del Ministerio de Educación de Argentina</li>
              <li class="list-group-item">Realicé un curso de portugués desde 2020 a 2021</li>
            </ul>
          </div>
        </div>
      </div>