<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1- col-lg-1"></div>
    <div class="col-xs-9 col-sm-2 col-md-2 col-lg-2">
        <a name="Proyectos"><h1>Proyectos</h1></a>
        
    </div>
    <div class="col-xs-9 col-sm-2 col-md-2 col-lg-2">
        <button type="button" class="btn btn-secondary btn-sm" id="botonup">
            <a href="/src/app/banner/banner.component.html" id="flechaup"><i class="fa-solid fa-arrow-up"></i></a>
        </button>
    </div>
    <div class="col-xs-1 col-sm-7 col-md-7 col-lg-7"></div>
</div>
<div class="row">
    <div class="col-1">
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
                    <img src="/assets/imgs/foto perfil.png" class="card-img-top" alt="fotoperfil" width="20">
                    <div class="card-body">
                      <h5 class="card-title">Portfolio propio</h5>
                      <p class="card-text">En desarrollo</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                  </div>
    </div>
    <div class="col-4"></div>
    <div class="col-3"></div>
</div>
                  

