<div class="row">
    <div class="col-3">
        <a name="Proyectos"><h1>Proyectos</h1></a>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-secondary btn-sm">
            <a href="#" id="flechaup"><i class="fa-solid fa-arrow-up"></i></a>
        </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>

      <div id="carouselExample" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container text-center">
              <div class="row align-items-start">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="/assets/imgs/logo ValentineCocina.png" class="card-img-top" alt="experiencia1" width="20">
                    <div class="card-body">
                      <h5 class="card-title">Página web</h5>
                      <p class="card-text">Para Valentine Cocina <br>
                        En desarrollo</p>
                      <a href="https://www.instagram.com/valentine.cocina/" class="btn btn-primary"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="/assets/imgs/foto perfil.png" class="card-img-top" alt="fotoperfil" width="20">
                    <div class="card-body">
                      <h5 class="card-title">Portfolio propio</h5>
                      <p class="card-text">En desarrollo</p>
                      <a href="#" class="btn btn-primary"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>