/*barra navegación*/
.bg-body-tertiary{
    background-color: rgb(178, 178, 186);
}
.btn-outline-success{
    color: rgb(116, 116, 239);
    border-color: rgb(116, 116, 239);
}
#logoarg{
    width: 50%;
}
#bienvenido{
    text-align: center;
    vertical-align: auto;
    animation: alternate;
}
/*banner*/
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/imgs/bannerpng.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 70vh;
}
#Bienvenido{
    padding-top: 10%;
}
#nombre-y-apellido:hover{
    transform: scale(1.2);
}
#ocupación:hover{
    transform: scale(1.2);
}
/*foto perfil*/
.col-6{
    margin-left: -24%;
}
#fotoperfil{
    width: 100%;
    height: 100%;
}
#indice{
    height: 20vh;
    background-color: rgb(209, 209, 223);
    overflow: relative;
    border-style: rgb(209, 209, 223);
    animation: ease-in-out 10ms ease 1ms infinite normal forwards;
    margin-top: -10%;
}
.centrado{
    color:rgb(209, 209, 223);
}
section.presentacion{
    background-color: aliceblue;
}
/*descripción foto perfil*/
#acerca-de{
    margin-top: 5%;
    text-align: center;
    font-size: medium;
    font-style: oblique;
}
/*login*/
.login{
    height: 70vh;
}
.formulario-login{
    margin-top: 10%;
}
.link{
    text-decoration: none;
    color: #000;
}
#footerDashboard{
    position: relative;
    padding-bottom: 1%;
}
#acercade{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/imgs/bannerpng.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 70vh;
}