/*barra navegación*/
.bg-body-tertiary{
    background-color: rgb(178, 178, 186);
}
.btn-outline-success{
    color: rgb(116, 116, 239);
    border-color: rgb(116, 116, 239);
}
#logoarg{
    width: 50%;
}

/*login*/
.login{
    height: 70vh;
}
.formulario-login{
    margin-top: 10%;
}
.link{
    text-decoration: none;
    color: #000;
}
#footerDashboard{
    position: relative;
    padding-bottom: 1%;
}