<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-encabezado></app-encabezado>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <app-banner></app-banner>
  </div>
</div>
<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <app-experiencia></app-experiencia>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>

  <section>
    <app-educacion></app-educacion>
  </section>
  <section>
    <app-habilidades></app-habilidades>
  </section>
  <section>
    <app-proyectos></app-proyectos>
  </section>
  <section>
    <app-footer></app-footer>
  </section>